.center {
        text-align: center;
        margin: auto;
    }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}
h1, h2 {
  text-transform: uppercase;
}

.container > * {
  padding: 20px;
}
.container {
  color: #2F3040;
  font-family: helvetica, arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

header {
  background: white;
  grid-column: 1 / 13;
}
main {
  background: #F7F8FA;
  grid-column: 4 / 13;
}
nav {
  background: #412980;
  color: white;
  grid-column: 1 / 4;
}
nav a {
  color: white;
}
aside {
  background: #A80047;
  grid-column: 10 / 13;
}
main, nav, aside {
  grid-row: 2 / 4;
}
footer {
  background: #282461;
  grid-column: 1 / 13;
}
